@using RoomReservationManagement.Models;
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="calendar">
</div>

<script type="text/javascript">

    var eventList = @Html.Raw(Json.Encode(ViewBag.listOfEvents));

    var test = $("#testData").val();
    console.log(test);

    $('#calendar').fullCalendar({
        events: eventList,
        eventAfterRender: function (event, element) {
            var tooltip = [event.title, event.start, event.end];
            $(element).attr("data-original-title", tooltip)
            $(element).tooltip({ container: "body", title: event.title })
        },
        showNonCurrentDates: false,
        eventLimit: true, // for all non-agenda views
        views: {
        agenda: {
            eventLimit: 20 // adjust to 6 only for agendaWeek/agendaDay
            }
        }
    });
</script>

<style>


    #calendar {
        width: 75%;
        height: 55%;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}