
@{
	ViewBag.Title = "dataAnalytics";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data Overview</h2>
<hr />

<h3 style="margin-top:40px;">Room Usage</h3>
<hr />

<div style="width:100%; height:70%;">
	<canvas id="usageBarChart" style="width:100%; height:70%;"></canvas>
</div>


<h3 style="margin-top:40px;">Room Reviews</h3>
<hr />

<div style="width:100%; height:70%;">
	<canvas id="ratingBarChart" style="width:100%; height:70%;"></canvas>
</div>


<script>
	var ctx = document.getElementById('usageBarChart').getContext('2d');
	var usageBarChart = new Chart(ctx, {
		options: {
			responsive: true,
			width: 500,
			height: 300,
		},
		type: 'bar',
		data: {
			labels: [@Html.Raw(ViewBag.usageGraphTitles)],
			datasets: [{
				label: '# of times used',
				data: [@Html.Raw(ViewBag.usageGraphData)],
				backgroundColor: [@Html.Raw(ViewBag.backgroundColor)],
				borderColor: [],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});


	var ctx = document.getElementById('ratingBarChart').getContext('2d');
	var ratingBarChart = new Chart(ctx, {
		options: {
			responsive: true,
			width: 500,
			height: 300,
		},
		type: 'bar',
		data: {
			labels: [@Html.Raw(ViewBag.reviewGraphTitles)],
			datasets: [{
				label: 'Average Rating',
				data: [@Html.Raw(ViewBag.reviewGraphData)],
				backgroundColor: [@Html.Raw(ViewBag.backgroundColor)],
				borderColor: [],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});


</script>