@model IEnumerable<RoomReservationManagement.Models.res_rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Room 123 Reviews</h1>

<!DOCTYPE HTML>
<style>
    .room {
        padding: 15px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        border-color: #80D651;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 7px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #panorama {
        width: 600px;
        height: 400px;
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A simple example</title>
    <link rel="stylesheet" href="~/Content/pannellum/pannellum.css" />
    <script type="text/javascript" src="~/Content/pannellum/pannellum.js"></script>
</head>
<body>

    @* @foreach (var item in Model)
        {*@

    <div class="room">
        <h1 style="color:#80D651;">★★★★★</h1>
        <div id="headingOne">
            <div class="card bg mb-3">
                <div class="card-header">12/21/21</div>
                <div class="card-body">
                    <p class="card-text">The room now smells great!</p>
                </div>
            </div>
            <button class="btn btn-default">
                View Room Information
            </button>
        </div>

    </div>

    <div class="room">
        <h1 style="color:#80D651;">★★☆☆☆</h1>
        <div id="headingOne">
            <div class="card bg mb-3">
                <div class="card-header">12/12/21</div>
                <div class="card-body">
                    <p class="card-text">Funcky smell! EW!</p>
                </div>
            </div>
            <button class="btn btn-default">
                View Room Information
            </button>
        </div>

    </div>
</body>
</html>
